$primary-normal-color: #2A59FE;
$primary-hover-color: rgba(42, 89, 254, 0.8);
$primary-active-color: rgba(42, 89, 254, 0.6);
$primary-disabled-color: rgba(42, 89, 254, 0.3);
$secondary-normal-color: #F3F3F6;
$secondary-hover-color: #DBDDE4;
$secondary-active-color: #C2C6D2;
$secondary-disabled-color: #FAFBFB;

/*Подклюбчение цветов*/

@font-face {
	font-family: "Montserrat Bold";
	src:
		local("Montserrat Bold"),
		url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat Regular";
	src:
		local("Montserrat Regular"),
		url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat Medium";
	src:
		local("Montserrat Medium"),
		url("/fonts/Montserrat-Medium.woff2") format("woff2");
}


/*Базовые стили для кнопки*/
* {
	font-family: "Montserrat";
}

button {
	border: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 0px;
	text-decoration: none;
	text-align: center;
	width: 160px;
	font-family: Montserrat Bold;
	transition: background-color .2s;
}

/*Варианты для кнопки primary*/
.primary {
	background-color: $primary-normal-color;
	color: #FFFFFF;
}

.primary:hover {
	background-color: $primary-hover-color;
}

.primary:active {
	background-color: $primary-active-color;
}

/*Варианты для кнопки secondary*/
.secondary {
	background-color: $secondary-normal-color;
	color: #616B8A;
}

.secondary:hover {
	background-color: $secondary-hover-color;
}

.secondary:active {
	background-color: $secondary-active-color;
}