$placeholder-color: #616B8A;
$main-text-color: #192755;
$border-color: #2A59FE;
$normal-border-color: #DDDBE4;
$disabled-text-color: #B5BEDF;
$disabled-back-color: #FAFBFB;


@font-face {
	font-family: "Montserrat Bold";
	src:
		local("Montserrat Bold"),
		url("/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat Regular";
	src:
		local("Montserrat Regular"),
		url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat Medium";
	src:
		local("Montserrat Medium"),
		url("/fonts/Montserrat-Medium.woff2") format("woff2");
}

/*Базовые стили input*/
* {
	padding: 0;
	margin: 0;
	border: none;
}

input {
	padding: 8px 12px;
	border-radius: 8px;
	font-family: "Montserrat Regular";
	font-size: 16px;
	transition: border 0.3s;
	display: block;
}

input:focus {
	outline: none;
	border: 1px solid $border-color;

}